<div class="page-preloader">

    <div class="sk-chase">
        <div class="sk-chase-dot"></div>
        <div class="sk-chase-dot"></div>
        <div class="sk-chase-dot"></div>
        <div class="sk-chase-dot"></div>
        <div class="sk-chase-dot"></div>
        <div class="sk-chase-dot"></div>
    </div>

</div>



<!--======================================== 

       Header

========================================-->



<!--//** Navigation**//-->

<nav class="navbar navbar-default navbar-fixed white no-background bootsnav navbar-scrollspy" data-minus-value-desktop="70" data-minus-value-mobile="55" data-speed="1000">



    <div class="container">

        <!-- Start Header Navigation -->

        <div class="navbar-header">

            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">

                <i class="fa fa-bars"></i>

            </button>

            <a class="navbar-brand" href="#brand">

                <img src="assets/img/cinextreme.png" class="logo" alt="logo">


            </a>

        </div>

        <!-- End Header Navigation -->



        <!-- Collect the nav links, forms, and other content for toggling -->

        <div class="collapse navbar-collapse" id="navbar-menu">

            <ul class="nav navbar-nav navbar-right">

                <li class="active scroll"><a href="#home" id="inicio">Inicio</a></li>

                <li class="scroll"><a href="#about">Acerca de</a></li>

                <li class="scroll"><a href="#services">Servicios</a></li>

                <li class="scroll"><a href="#price" id="itemPrecios">Precios</a></li>

                <li class="scroll"><a href="#contact">Contacto</a></li>

                <li class="button-holder">

                    <button type="button" class="btn btn-blue navbar-btn" data-toggle="modal" data-target="#SignIn" id="iniciarSesion" (click)="validate()">Iniciar Sesión</button>

                </li>

            </ul>

        </div>

        <!-- /.navbar-collapse -->

    </div>

</nav>



<!--//** Banner**//-->

<section id="home">

    <div class="container">

        <div class="row">

            <div id="particles-js"></div>

            <!-- Introduction -->

            <div class="col-md-6 caption">

                <h1>Bienvenido a CineXtreme</h1>

                <h2>



                    <span class="animated-text"></span>

                    <span class="typed-cursor"></span>

                </h2>

                <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni, quibusdam. Sit, quas tempora quia officia!</p>-->

                <a href="#" class="btn btn-transparent">Solicita una demostraciòn</a>

                <!--<a class="btn btn-blue popup-youtube" href="https://www.youtube.com/watch?v=Q8TXgCzxEnw">

                    <i class="material-icons">play_circle_filled</i>Watch Video

                </a>-->

            </div>

            <!-- Sign Up -->

            <div class="col-md-5 col-md-offset-1">

                <form class="signup-form">

                    <h2 class="text-center">Registrate</h2>

                    <hr>

                    <div class="form-group">

                        <input type="text" class="form-control" placeholder="Nombre Completo" required="required" [(ngModel)]="nombres" id="nombres" name="nombres" autofocus>

                    </div>

                    <div class="form-group">

                        <input type="email" class="form-control" placeholder="Email" required="required" [(ngModel)]="email" name="email">

                    </div>

                    <div class="form-group">

                        <input type="password" class="form-control" placeholder="Contraseña" required="required" [(ngModel)]="pass" name="pass">
                        
                        <password-strength-meter [password]="pass" [minPasswordLength]="6" ></password-strength-meter>
                    </div>

                    <div class="form-group">

                        <input type="text" class="form-control" placeholder="Ingresa tu còdigo promocional" required="required" [(ngModel)]="codigo" name="codigo">

                    </div>

                    <div class="form-group text-center">

                        <button type="submit" class="btn btn-blue btn-block" onclick="return false;" [disabled]="load" (click)="registro()">Registrar</button>
                        <img src="./../../assets/img/load.gif" *ngIf="load == true">

                    </div>

                </form>

            </div>

        </div>

    </div>



</section>



<!--======================================== 

       About Us

========================================-->



<section id="about" class="section-padding">

    <div class="container">

        <h2>Acerca de</h2>

        <p>Somos una plataforma Streaming en la cual podràs ver pelìculas y series en full calidad.</p>

        <div class="row">

            <div class="col-md-4">

                <div class="icon-box">

                    <i class="material-icons">favorite</i>

                    <h4>Fàcil de usar</h4>

                    <p>Nuestra plataforma intuitiva </p>

                </div>

            </div>

            <div class="col-md-4">

                <div class="icon-box">

                    <i class="material-icons">flash_on</i>

                    <h4>Potente</h4>

                    <p>Disfruta de nuestro contenido en tu pc, smartphone, tv, con una potente carga de video </p>

                </div>

            </div>

            <div class="col-md-4">

                <div class="icon-box">

                    <i class="material-icons">settings</i>

                    <h4>Tu tienes el control</h4>

                    <p>Administra tus pagos .</p>

                </div>

            </div>

        </div>

    </div>

</section>



<!--======================================== 

       Story

========================================-->



<section id="story">


    <div class="story-content">



    </div>


</section>



<!--======================================== 

       Services

========================================-->



<section id="services" class="section-padding">

    <div class="container">

        <h2>Nuestro Servicio</h2>


        <div class="row">

            <div class="col-md-4">

                <div class="icon-box">

                    <i class="material-icons">thumb_up</i>

                    <h4>Calidad</h4>

                    <p>Disfruta las películas en full calidad</p>

                </div>

            </div>

            <div class="col-md-4">

                <div class="icon-box">

                    <i class="material-icons">euro_symbol</i>

                    <h4>Mejor précio</h4>

                    <p>En CineXtreme un excelente contenido no debe costar más</p>

                </div>

            </div>

            <div class="col-md-4">

                <div class="icon-box">

                    <i class="material-icons">forum</i>

                    <h4>Soporte 7/24</h4>

                    <p>Contamos con un chat de soporte 7/24</p>

                </div>

            </div>



        </div>

    </div>

</section>



<!--======================================== 

       Features

========================================-->


<section id="story">


    <div class="story-content">



    </div>


</section>



<!--======================================== 

       Price

========================================-->



<app-pago></app-pago>



<section id="story">


    <div class="story-content">



    </div>


</section>


<!--======================================== 

       Contact

========================================-->



<section id="contact" class="section-padding">


    <!-- Contact Form -->

    <div class="">

        <div class="container">

            <form class="well form-horizontal" [formGroup]="registerForm" (ngSubmit)="onSubmit()" id="contact_form">
                <fieldset>

                    <!-- Form Name -->
                    <legend>Contáctanos!</legend>

                    <!-- Text input-->

                    <div class="form-group">
                        <label class="col-md-4 control-label">Nombres</label>
                        <div class="col-md-4 inputGroupContainer">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                <input formControlName="name" name="first_name" class="form-control" type="text">
                            </div>
                        </div>
                    </div>

                    <!-- Text input-->

                    <div class="form-group">
                        <label class="col-md-4 control-label">Apellidos</label>
                        <div class="col-md-4 inputGroupContainer">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                <input formControlName="last" name="last_name" class="form-control" type="text">
                            </div>
                        </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-4 control-label">E-Mail</label>
                        <div class="col-md-4 inputGroupContainer">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                                <input formControlName="email"  name="email" class="form-control" type="text">
                            </div>
                        </div>
                    </div>

                    <!-- Text area -->

                    <div class="form-group">
                        <label class="col-md-4 control-label">Mensaje</label>
                        <div class="col-md-4 inputGroupContainer">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                                <textarea class="form-control" formControlName="msg" name="comment"></textarea>
                            </div>
                        </div>
                    </div>

                    <!-- Success message -->
                    <div class="alert alert-success" role="alert" id="success_message">Mensaje enviado con éxito. <i class="glyphicon glyphicon-thumbs-up"></i> Gracias por contactarnos, nos pondremos en contacto con usted dentro de poco.
                    </div>

                    <!-- Button -->
                    <div class="form-group">
                        <label class="col-md-4 control-label"></label>
                        <div class="col-md-4">
                            <button class="btn btn-warning" (click)="contact()">Enviar <span
                                    class="glyphicon glyphicon-send"></span></button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>


</section>




<!--======================================== 

       Footer

========================================-->



<footer>

    <div class="container">

        <div class="row">

            <div class="footer-caption">

                <img src="assets/img/cinextreme.png" class="img-responsive center-block" alt="logo">

                <hr>

                <h5 class="pull-left">CineXtreme, &copy;2020 Todos los derechos reservados</h5>

            </div>

        </div>

    </div>

</footer>



<!--======================================== 

       Modal

========================================-->

<!-- Modal -->



<div class="modal fade" id="SignIn" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">

    <div class="modal-dialog" role="document">

        <div class="modal-content">

            <div class="modal-header">

                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="reset()">
                    <span aria-hidden="true">&times;</span>
                </button>

                <h4 class="modal-title text-center" id="myModalLabel">Iniciar Sesión</h4>

            </div>

            <div class="modal-body">

                <form class="signup-form" [formGroup]="loginForm">

                    <div class="form-group">

                        <input type="text" class="form-control" placeholder="Email" name="email" id="email" formControlName="email" [(ngModel)]="email">

                    </div>

                    <div class="form-group">

                        <input type="password" class="form-control" placeholder="Contraseña" name="pass" id="password" formControlName="password" [(ngModel)]="pass">


                    </div>

                    <div class="form-group text-center">

                        <button [disabled]="load" (click)="login()" class="btn btn-blue btn-block">Iniciar</button>

                        <img src="./../../assets/img/load.gif" *ngIf="load == true">
                    </div>

                </form>

            </div>

            <div class="modal-footer text-center">

                <a href="#">Olvidé mi contraseña</a>

            </div>

        </div>

    </div>

</div>



<div class="modal fade" id="validacion" tabindex="-1" role="dialog" aria-labelledby="validacion">

    <div class="modal-dialog" role="document">

        <div class="modal-content">

            <div class="modal-header">

                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>

                <h4 class="modal-title text-center" id="validacionn">¿Soy Usuario?</h4>

            </div>

            <div class="modal-body">

                <form class="signup-form">

                    <div class="form-group text-center">

                        <button type="submit" onclick="return false;" (click)="validacion(0)" class="btn btn-blue btn-block">No tengo cuenta</button>
                        <button type="submit" onclick="return false;" (click)="validacion(1)" class="btn btn-blue btn-block">Ya tengo cuenta</button>

                    </div>

                </form>

            </div>


        </div>

    </div>

</div>


<div id="scriptsTemp"></div>